@import "materialize";

body {
  background: #eee;
}

#nav .side-nav {
  transform: translateX(0); /* switch off hiding sidebar for now */
}

#activity-log > li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

#activity-log span {
  vertical-align: top;
  display: inline-block;
  margin-right: 5px;
  min-width: 100px;
  color: #72777c;
  font-size: 13px;
}

#activity-log a {
  display: inline-block;
  max-width: 150px;
}



.clearfix { overflow: auto; }

.collection .collection-item.avatar {
    min-height: 63px;
}

#progress-container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

#content > div > div.col.s9.offset-s3 > div > div {
  margin-bottom: 0;
}

#nav .side-nav {
  width: 20%;
}

.progress-bar-container, .progress-bar-container-unit {
  display: inline-block;
  position:relative;
}

.card .card-title {
    font-size: 20px;
}

#learning-outcomes table td {
  vertical-align: top;
}

.card.file {
height: 180px;
}

/** used in component for assign evidence upload2.php **/
.arrow_box {
  display: inline-block;
	position: relative;
	background: #88b7d5;
  padding-left: 2px;
  padding: 2px 5px;
  // margin-left: -5px;
}


.border {
  border-top: 2px solid black;
  border-bottom: 0px;
  background-color: #fff;
  padding-left: 5px;
  padding-top: 5px;
}

.border:first-child { 
  border-top: 0;
}

.border:last-child { 
  // border-bottom: 2px solid black;
}

.arrow_content {
  display: inline-block;
  width: 200px;
}

.btn-floating.unit-fab {
    position: absolute;
    right: 10px;
    bottom: 10px;
    // transform: translateY(50%);
}

.card .card-content {
    padding: 15px;

}

#slide-out-r > ul { /* set the width of the accordian to less than width of container to avoid jumping when scroll bar appears */
  max-width: 540px;
}

#slide-out-r .collapsible-body {
    padding-top: 2px;
    padding-bottom: 2px;
}

#slide-out-r > ul > li > div.collapsible-body > ul > li > div.collapsible-body > div {
  @extend .white;
}

.side-nav .collapsible .collection li {
  padding-top: 10px;
}

#slide-out-r > ul > li > div.collapsible-header > ul > li {
    margin: 0 0 0 0;
    @extend .grey, .lighten-5; 
}

#slide-out-r > ul > li.active > div.collapsible-header.active > ul > li {
  background-color: #E3F2FD !important;
}

#slide-out-r > ul > li.active > div.collapsible-body > ul > li > div.collapsible-header > ul > li {
  @extend .grey, .lighten-5; 
}

#slide-out-r > ul > li.active > div.collapsible-body > ul > li.active > div.collapsible-header.active > ul > li {
  background-color: #E3F2FD !important;
}


#slide-out-r .collapsible-body {
    padding-top: 5px;
    padding-bottom: 5px; 
}

// #slide-out-r > ul > li {
//    @extend .blue, .lighten-3;
// }

#slide-out-r > ul > li > .collapsible-body {
    @extend .grey, .lighten-2;
    padding: 0 0.1rem 0 1rem;
}

// #slide-out-r > ul > li > .collapsible-body > .collapsible.popout{
//    @extend .green, .lighten-3;
// }
#slide-out-r > ul > li {
  margin-bottom: 0.5rem;
}

.collapsible.popout > li {
  margin-right: 0;
}
.collapsible.popout > li.active {
  margin: 0;
}

#slide-out-r > ul > li > .collapsible-body > .collapsible.popout > li > .collapsible-header {
  overflow: auto;
  line-height: initial;
}

#slide-out-r > ul > li > div.collapsible-body > ul > li > div.collapsible-body {
    @extend .grey, .lighten-1;
    padding: 0rem 0.2rem 0.5rem 1rem;
    // padding: 0.1rem 0.1rem 0.1rem 1rem;
}




// #slide-out-r div.collection {
//    @extend .white;
// }

#slide-out-r > ul > li > div.collapsible-body > ul > li > div.collapsible-body > div {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#slide-out-r > ul > li > div.collapsible-body > ul > li > div.collapsible-body > div a{
     color: black;
     overflow: auto;
     height: auto;
  // background-color: transparent;
}

.collection a.collection-item:not(.active) {
    background-color: transparent;
}

.collection a.collection-item:not(.active):hover {
  @extend .orange, .lighten-3;
}

#slide-out-r .btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px;
}

#slide-out-r a.btn-floating {
    display: inline-block;
    color: #fff;
    // position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}


.side-nav .collapsible-header {
    overflow: auto;
    line-height: initial;
    padding: 0 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#slide-out-r ul.action-buttons li {
    display: inline-block;
}

#slide-out-r div.header-text {
  width: 66%;
  padding: 1rem;
}

#slide-out-r > ul > li > div.collapsible-body > ul > li > div.collapsible-body > div > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#slide-out-r > ul > li > div.collapsible-body > ul > li > div.collapsible-body > div > a > div {
  max-width: 85%;
  margin: 5px 0;
}

#slide-out-r path {
    stroke-width: 6;
}
#slide-out-r svg {
margin-top: -10px;
}

.collection .collection-item.avatar {
    padding-right: 72px;
}