@import "materialize";

body {
  background: #eee;
}

.side-nav {
  transform: translateX(0); /* switch off hiding sidebar for now */
}

#activity-log > li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

#activity-log span {
  vertical-align: top;
  display: inline-block;
  margin-right: 5px;
  min-width: 100px;
  color: #72777c;
  font-size: 13px;
}

#activity-log a {
  display: inline-block;
  max-width: 150px;
}

.clearfix { overflow: auto; }

.collection .collection-item.avatar {
    min-height: 63px;
}

#progress-container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

#content > div > div.col.s9.offset-s3 > div > div {
  margin-bottom: 0;
}

.side-nav {
  width: 20%;
}

.progress-bar-container {
  display: inline-block;
  position:relative;
}

.card .card-title {
    font-size: 20px;
}

#learning-outcomes table td {
  vertical-align: top;
}

.card.file {
height: 180px;
}

/** used in component for assign evidence upload2.php **/
.arrow_box {
  display: inline-block;
	position: relative;
	background: #88b7d5;
  padding-left: 2px;
  padding: 2px 5px;
  // margin-left: -5px;
}


.border {
  border-top: 2px solid black;
  border-bottom: 0px;
  background-color: #fff;
  padding-left: 5px;
  padding-top: 5px;
}

.border:first-child { 
  border-top: 0;
}

.border:last-child { 
  // border-bottom: 2px solid black;
}

.arrow_content {
  display: inline-block;
  width: 200px;
}

.btn-floating.unit-fab {
    position: absolute;
    right: 10px;
    bottom: 10px;
    // transform: translateY(50%);
}

.card .card-content {
    padding: 15px;

}

